### The notes in this are written for the relatively new coder. I am confident that the techniques will be useful for any experience level.

#### Download the 'Sample B.xlsx' file, and copy the pathname where it is located on your hard drive, so you can open it below.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("Your_Path_Name/Sample_Dataset.xlsx")

This is a small sample of an almost 10,000 line data set.  Too much to copy & paste by hand, besides the potential for error. Each variable needed to be in its own labeled column, such as [1/1/1901], [Last_name_1], [First_name_1], [City_1], not grouped into one column as below. The original data is confidential, so I redacted for the sample data provided.

In the main set, some records had one person, one person and a business, just a business, several people, or several people and a business. Some had multiple license numbers, starting with several prefixes, some simply had "Not licensed" in that field. So, while luckily there was a lot of consistency, there was also variability and need for careful cleaning.

In [4]:
df

,Name and Location,the string,why the string
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1
1,City: City_1,NaN,NaN
2,County: OUT OF STATE,String of text 1,NaN
3,Zip Code: 00001,NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN
7,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2
10,City: City_2,NaN,NaN
11,County: County_2,String of text 2,NaN
12,Zip Code: 00002,NaN,NaN
13,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN
15,City: City_2,NaN,NaN
16,County: County_2,NaN,NaN
17,Zip Code: 00002,NaN,NaN
18,NaN,NaN,NaN
19,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN
21,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3
24,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN
26,City: city_3,NaN,NaN
27,County: County_3,NaN,NaN
28,Zip Code: 00003,NaN,NaN
29,NaN,NaN,NaN
30,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN
32,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN

The line below is the typical use of [split](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html). It's lovely, separates the variables as described, 
except for one thing, which you will see as you continue.

If you edit the code, you can see the result of split. It removes everything to the left of the **delimiter,** and the delimiter which is **':'** in this case.

In [5]:
df['Name and Location'].str.split('City:', expand=True) 
#in the case of the df above, df['Name and Location'] are the original.

                                          0        1
0                Last_name_1,First_name_1,      None
1                                             City_1
2                      County: OUT OF STATE     None
3                           Zip Code: 00001     None
4                                       NaN      NaN
5                                       NaN      NaN
6                       License #: AA000000     None
7                                       NaN      NaN
8                     Complaint # AA0000000     None
9              Company: Company_Name_1, INC     None
10                                            City_2
11                         County: County_2     None
12                          Zip Code: 00002     None
13                                      NaN      NaN
14  Company: Company_Name_1 City LIC AA0001     None
15                                            City_2
16                         County: County_2     None
17                          Zip Code: 00002     None
18                                      NaN      NaN
19                                      NaN      NaN
20                    License: Not Licensed     None
21                                      NaN      NaN
22                    Complaint # AA0000001     None
23                Last_Name_2, First_Name_2     None
24                                      NaN      NaN
25                  Company: Company_Name_2     None
26                                            city_3
27                         County: County_3     None
28                          Zip Code: 00003     None
29                                      NaN      NaN
30                                      NaN      NaN
31                        License #: ME0003     None
32                                      NaN      NaN
33                    Complaint # AA0000003     None

### Now try the same thing as above, but with [concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html?highlight=concat#pandas.concat) and split.
We use df['the string'] and 'Date:' as this is the first delimited row, and can stand in for the beginning of each record.

In [6]:
df = pd.concat((df, df['the string'].str.split('Date:', expand=True)), axis=1, ignore_index=True) #Start with the first row of variables, as 
#everything will step down nicely when you split, which is more readable.

In [7]:
df #this is split from [1], formerly df['the string'], later you will drop [1], but keep for now. Keep both [3] & [4]

,0,1,2,3,4
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901
1,City: City_1,NaN,NaN,NaN,NaN
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901
10,City: City_2,NaN,NaN,NaN,NaN
11,County: County_2,String of text 2,NaN,String of text 2,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN
15,City: City_2,NaN,NaN,NaN,NaN
16,County: County_2,NaN,NaN,NaN,NaN
17,Zip Code: 00002,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919
24,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None
26,City: city_3,NaN,NaN,NaN,NaN
27,County: County_3,NaN,NaN,NaN,NaN
28,Zip Code: 00003,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN

#### You should see that concat is essential, so that the data ends up in one df. If your goal is simply a new, temporary column, use split without concat.

In [8]:
df = pd.concat((df, df[0].str.split('City:', expand=True)), axis=1, ignore_index=True)

In [ ]:
#df = pd.concat((df, df[1].str.split('Date:', expand=True)), axis=1, ignore_index=True) #Start with the first row of variables, as 
#everything will step down nicely when you split, which is more readable.

In [9]:
df

,0,1,2,3,4,5,6
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,,City_1
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,County: OUT OF STATE,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,Zip Code: 00001,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,License #: AA000000,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,,City_2
11,County: County_2,String of text 2,NaN,String of text 2,None,County: County_2,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,Zip Code: 00002,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,,City_2
16,County: County_2,NaN,NaN,NaN,NaN,County: County_2,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,Zip Code: 00002,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,License: Not Licensed,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,,city_3
27,County: County_3,NaN,NaN,NaN,NaN,County: County_3,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,Zip Code: 00003,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,License #: ME0003,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,Complaint # AA0000003,None

**Keep the original columns, [0,1,2], until you have finished,** so you can compare your split columns and ensure no data is missing. <br/>  
**Important Note, [0] is not the column name, but the index value. Going forward, ensure you are dropping the index value. [Here are the docs](https://pandas.pydata.org/docs/user_guide/indexing.html) so you can become familiar with the methods.**   </br>  
</br>  
The date and the city name (strings) are now in their own columns, [4] and [6] respectively. <br/>  
Column 
[5] is a near-duplicate column of [0]. The almost duplicate column you split from and the column created by the split, minus the term you removed with split, are concatenated to the end of the df, here as [5] & [6]. <br/>
You will split next from the duplicate column, here it is [5], continuing on to split from the near-duplicates each time, not the previous columns. <br/>  
As you continue to split, you can and should drop the column you split from, because they are redundant and messy. Right now, columns [0,1] are needed to ensure accuracy, they will be dropped at the end. Columns [2,3,4]&[6] are data we need.

In [10]:
df = pd.concat((df, df[5].str.split('County:', expand=True)), axis=1, ignore_index=True)

In [11]:
df #we split from [5] which resulted in [7] & [8]. Now, drop [5] as it is redundant.

,0,1,2,3,4,5,6,7,8
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,"Last_name_1,First_name_1,",None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,County: OUT OF STATE,None,,OUT OF STATE
3,Zip Code: 00001,NaN,NaN,NaN,NaN,Zip Code: 00001,None,Zip Code: 00001,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,License #: AA000000,None,License #: AA000000,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,Complaint # AA0000000,None,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,"Company: Company_Name_1, INC",None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,County: County_2,None,,County_2
12,Zip Code: 00002,NaN,NaN,NaN,NaN,Zip Code: 00002,None,Zip Code: 00002,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,Company: Company_Name_1 City LIC AA0001,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,County: County_2,None,,County_2
17,Zip Code: 00002,NaN,NaN,NaN,NaN,Zip Code: 00002,None,Zip Code: 00002,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,License: Not Licensed,None,License: Not Licensed,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,Complaint # AA0000001,None,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,"Last_Name_2, First_Name_2",None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,Company: Company_Name_2,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,County: County_3,None,,County_3
28,Zip Code: 00003,NaN,NaN,NaN,NaN,Zip Code: 00003,None,Zip Code: 00003,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,License #: ME0003,None,License #: ME0003,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,Complaint # AA0000003,None,Complaint # AA0000003,None

In [12]:
df.drop(columns=[5], inplace=True)

##### next split from [6], but notice how there is no '5', so drop index value [6] and not seemingly labeled value [6].

In [13]:
df

,0,1,2,3,4,6,7,8
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,,OUT OF STATE
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,Zip Code: 00001,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,License #: AA000000,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,,County_2
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,Zip Code: 00002,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,,County_2
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,Zip Code: 00002,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,License: Not Licensed,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,,County_3
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,Zip Code: 00003,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,License #: ME0003,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,Complaint # AA0000003,None

In [16]:
df = pd.concat((df, df[6].str.split('Zip Code:', expand=True)), axis=1, ignore_index=True)

In [17]:
df #Pandas automatically reindexes the columns, should have [0:10]

,0,1,2,3,4,5,6,7,8,9,10
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,"Last_name_1,First_name_1,",None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,,None,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,,OUT OF STATE,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,Zip Code: 00001,None,None,,00001
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,License #: AA000000,None,None,License #: AA000000,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,Complaint # AA0000000,None,None,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,"Company: Company_Name_1, INC",None,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,,None,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,,County_2,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,Zip Code: 00002,None,None,,00002
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,Company: Company_Name_1 City LIC AA0001,None,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,,None,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,,County_2,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,Zip Code: 00002,None,None,,00002
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,License: Not Licensed,None,None,License: Not Licensed,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,Complaint # AA0000001,None,None,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,"Last_Name_2, First_Name_2",None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,Company: Company_Name_2,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,,None,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,,County_3,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,Zip Code: 00003,None,None,,00003
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,License #: ME0003,None,None,License #: ME0003,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,Complaint # AA0000003,None,None,Complaint # AA0000003,None

In [18]:
df.drop(columns=[6], inplace=True)

In [19]:
df

,0,1,2,3,4,5,7,8,9,10
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,,00001
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,License #: AA000000,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,,00002
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,,00002
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,License: Not Licensed,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,,00003
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,License #: ME0003,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000003,None

Note: sometimes things like 'License #' and 'License: Not Licensed' will have to be dealt with somewhat differently. I noted how many variations of the variable name there were, split based on each delimiter, then recombined to appropriate columns. </br>  
Another efficient option is using the **.replace()** function to standardize the strings.

In [20]:
df[9].replace('License:','License #:', regex = True, inplace = True) 
#I know, it's index value 8, but here we call df[9]. Such is the way sometimes

In [21]:
df

,0,1,2,3,4,5,7,8,9,10
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,,00001
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,License #: AA000000,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,,00002
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,,00002
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,License #: Not Licensed,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,,00003
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,License #: ME0003,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000003,None

Now that 'License #:' is standardized, you can split it from [8].

In [24]:
df = pd.concat((df, df[8].str.split('License #:', expand=True)), axis=1, ignore_index=True)

In [26]:
df  #should have [0:12], next step: drop [8]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,"Last_name_1,First_name_1,",None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,,None,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,,None,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,,00001,None,,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,License #: AA000000,None,None,,AA000000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000000,None,None,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,"Company: Company_Name_1, INC",None,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,,None,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,,None,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,,00002,None,,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,Company: Company_Name_1 City LIC AA0001,None,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,,None,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,,None,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,,00002,None,,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,License #: Not Licensed,None,None,,Not Licensed
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000001,None,None,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,"Last_Name_2, First_Name_2",None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,Company: Company_Name_2,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,,None,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,,None,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,,00003,None,,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,License #: ME0003,None,None,,ME0003
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,Complaint # AA0000003,None,None,Complaint # AA0000003,None

In [27]:
df.drop(columns=[8], inplace=True)

In [28]:
df

,0,1,2,3,4,5,6,7,9,10,11,12
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,,AA000000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,Complaint # AA0000000,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,,Not Licensed
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,Complaint # AA0000001,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,,ME0003
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,Complaint # AA0000003,None

#### notice that 'complaint #' does not have a colon, so # is the delimiter.

In [31]:
df = pd.concat((df, df[10].str.split('Complaint #', expand=True)), axis=1, ignore_index=True)

In [32]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,"Last_name_1,First_name_1,",None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,,None,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,,None,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,,None,None,,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,,AA000000,None,,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,Complaint # AA0000000,None,None,,AA0000000
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,"Company: Company_Name_1, INC",None,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,,None,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,,None,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,,None,None,,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,Company: Company_Name_1 City LIC AA0001,None,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,,None,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,,None,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,,None,None,,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,,Not Licensed,None,,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,Complaint # AA0000001,None,None,,AA0000001
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,"Last_Name_2, First_Name_2",None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,Company: Company_Name_2,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,,None,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,,None,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,,None,None,,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,,ME0003,None,,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,Complaint # AA0000003,None,None,,AA0000003

In [33]:
df.drop(columns=[10], inplace=True)

In [34]:
df

,0,1,2,3,4,5,6,7,8,9,11,12,13,14
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,,AA0000000
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,"Company: Company_Name_1, INC",None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Company: Company_Name_1 City LIC AA0001,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,,AA0000001
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,Company: Company_Name_2,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,,AA0000003

In [35]:
df = pd.concat((df, df[13].str.split('Company:', expand=True)), axis=1, ignore_index=True)

In [36]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,"Last_name_1,First_name_1,",None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,,None,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,,None,,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,,None,,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,,AA0000000,,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,"Company: Company_Name_1, INC",None,,"Company_Name_1, INC"
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,,None,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,,None,,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Company: Company_Name_1 City LIC AA0001,None,,Company_Name_1 City LIC AA0001
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,,None,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,,None,,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,,None,,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,,AA0000001,,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,"Last_Name_2, First_Name_2",None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,Company: Company_Name_2,None,,Company_Name_2
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,,None,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,,None,,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,,None,,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,,AA0000003,,None

In [37]:
df.drop(columns=[12], inplace=True)

In [38]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,13,14,15
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,None,"Last_name_1,First_name_1,",None
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,None,,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,None,,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,None,,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,None,,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000000,,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,None,,"Company_Name_1, INC"
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,None,,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,,Company_Name_1 City LIC AA0001
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,None,,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,None,,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000001,,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,None,"Last_Name_2, First_Name_2",None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,None,,Company_Name_2
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,None,,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,None,,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,None,,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,None,,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000003,,None

### now split last_name and first_name by ','

In [40]:
df = pd.concat((df, df[14].str.split(',', expand=True)), axis=1, ignore_index=True)

In [41]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,None,"Last_name_1,First_name_1,",None,Last_name_1,First_name_1,
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,None,,None,,None,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,None,,None,,None,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,None,,None,,None,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,None,,None,,None,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000000,,None,,None,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,None,,"Company_Name_1, INC",,None,None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,,None,,None,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,None,,None,,None,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,,None,,None,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,,Company_Name_1 City LIC AA0001,,None,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,,None,,None,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,None,,None,,None,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,,None,,None,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,None,,None,,None,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000001,,None,,None,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,None,"Last_Name_2, First_Name_2",None,Last_Name_2,First_Name_2,None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,None,,Company_Name_2,,None,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,None,,None,,None,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,None,,None,,None,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,None,,None,,None,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,None,,None,,None,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000003,,None,,None,None

In [42]:
df.drop(columns=[13], inplace=True)  #drop the column you split from

In [43]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,None,None,Last_name_1,First_name_1,
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,None,None,,None,None
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,None,None,,None,None
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,None,None,,None,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,None,None,,None,None
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000000,None,,None,None
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,None,"Company_Name_1, INC",,None,None
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,None,None,,None,None
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,Company_Name_1 City LIC AA0001,,None,None
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,None,None,,None,None
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,None,None,,None,None
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000001,None,,None,None
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,None,None,Last_Name_2,First_Name_2,None
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,None,Company_Name_2,,None,None
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,None,None,,None,None
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,None,None,,None,None
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,None,None,,None,None
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,None,None,,None,None
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000003,None,,None,None

### Every variable type is split into it separate columns now. But we want each set of variables in its own row. Continue for how to do that.

Adding a new column called 'record number' but you can name it 'foo' or whatever you like. It's temporary, after all.
Next calling cumsum and .contains() on df[1], and we will have an entry for each time 'date' appears in df[1]

In [54]:
df['record number'] = df[1].str.contains('Date:').cumsum(skipna=True)

In [55]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,record number
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,None,None,Last_name_1,First_name_1,,True
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,None,None,,None,None,NaN
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,None,None,,None,None,1.0
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,None,None,,None,None,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,None,None,,None,None,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000000,None,,None,None,NaN
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,None,"Company_Name_1, INC",,None,None,2.0
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None,NaN
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,None,None,,None,None,2.0
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,Company_Name_1 City LIC AA0001,,None,None,NaN
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None,NaN
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,None,None,,None,None,NaN
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,None,None,,None,None,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000001,None,,None,None,NaN
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,None,None,Last_Name_2,First_Name_2,None,3.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,None,Company_Name_2,,None,None,3.0
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,None,None,,None,None,NaN
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,None,None,,None,None,NaN
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,None,None,,None,None,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,None,None,,None,None,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000003,None,,None,None,NaN

then use **.ffill()** based on the record number, which should labeled each row that belongs to the label

In [56]:
df['record number'] = df['record number'].replace(0, np.NaN).ffill()

In [57]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,record number
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,None,None,Last_name_1,First_name_1,,True
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,None,None,,None,None,True
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,None,None,,None,None,1.0
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,None,None,,None,None,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,None,None,,None,None,1.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000000,None,,None,None,1.0
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,None,"Company_Name_1, INC",,None,None,2.0
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None,2.0
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,None,None,,None,None,2.0
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None,2.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,Company_Name_1 City LIC AA0001,,None,None,2.0
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None,2.0
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,None,None,,None,None,2.0
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None,2.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,None,None,,None,None,2.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000001,None,,None,None,2.0
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,None,None,Last_Name_2,First_Name_2,None,3.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,None,Company_Name_2,,None,None,3.0
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,None,None,,None,None,3.0
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,None,None,,None,None,3.0
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,None,None,,None,None,3.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,None,None,,None,None,3.0
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000003,None,,None,None,3.0

In [58]:
df['record number'] = df['record number'].replace(True, 1.0).ffill()

In [59]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,record number
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,None,None,None,None,None,None,None,None,None,Last_name_1,First_name_1,,1.0
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,None,None,,None,None,1.0
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,None,None,,None,None,1.0
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,None,None,,None,None,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,None,None,,None,None,1.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000000,None,,None,None,1.0
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,None,None,None,None,None,None,None,None,"Company_Name_1, INC",,None,None,2.0
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None,2.0
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,None,None,,None,None,2.0
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None,2.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,Company_Name_1 City LIC AA0001,,None,None,2.0
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,,None,None,2.0
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,None,None,,None,None,2.0
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,,None,None,2.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,None,None,,None,None,2.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000001,None,,None,None,2.0
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,None,None,None,None,None,None,None,None,None,Last_Name_2,First_Name_2,None,3.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,None,Company_Name_2,,None,None,3.0
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,None,None,,None,None,3.0
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,None,None,,None,None,3.0
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,None,None,,None,None,3.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,None,None,,None,None,3.0
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000003,None,,None,None,3.0

### there are still a few empty cells, so replacing them with NaN

In [60]:
 df.replace('',np.NaN,inplace=True)

In [61]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,record number
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,NaN,1/1/1901,None,None,None,None,None,None,None,None,None,Last_name_1,First_name_1,,1.0
1,City: City_1,NaN,NaN,NaN,NaN,City_1,None,City_1,None,City_1,None,City_1,None,None,NaN,None,None,1.0
2,County: OUT OF STATE,String of text 1,NaN,String of text 1,None,None,OUT OF STATE,None,None,None,None,None,None,None,NaN,None,None,1.0
3,Zip Code: 00001,NaN,NaN,NaN,NaN,None,None,None,00001,None,None,None,None,None,NaN,None,None,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,License #: AA000000,NaN,NaN,NaN,NaN,None,None,None,None,None,AA000000,None,None,None,NaN,None,None,1.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,Complaint # AA0000000,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000000,None,NaN,None,None,1.0
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,NaN,2/2/1901,None,None,None,None,None,None,None,None,"Company_Name_1, INC",NaN,None,None,2.0
10,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,NaN,None,None,2.0
11,County: County_2,String of text 2,NaN,String of text 2,None,None,County_2,None,None,None,None,None,None,None,NaN,None,None,2.0
12,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,NaN,None,None,2.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,Company_Name_1 City LIC AA0001,NaN,None,None,2.0
15,City: City_2,NaN,NaN,NaN,NaN,City_2,None,City_2,None,City_2,None,City_2,None,None,NaN,None,None,2.0
16,County: County_2,NaN,NaN,NaN,NaN,None,County_2,None,None,None,None,None,None,None,NaN,None,None,2.0
17,Zip Code: 00002,NaN,NaN,NaN,NaN,None,None,None,00002,None,None,None,None,None,NaN,None,None,2.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
20,License: Not Licensed,NaN,NaN,NaN,NaN,None,None,None,None,None,Not Licensed,None,None,None,NaN,None,None,2.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
22,Complaint # AA0000001,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000001,None,NaN,None,None,2.0
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,NaN,3/3/1919,None,None,None,None,None,None,None,None,None,Last_Name_2,First_Name_2,None,3.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
25,Company: Company_Name_2,String of text 3,NaN,String of text 3,None,None,None,None,None,None,None,None,None,Company_Name_2,NaN,None,None,3.0
26,City: city_3,NaN,NaN,NaN,NaN,city_3,None,city_3,None,city_3,None,city_3,None,None,NaN,None,None,3.0
27,County: County_3,NaN,NaN,NaN,NaN,None,County_3,None,None,None,None,None,None,None,NaN,None,None,3.0
28,Zip Code: 00003,NaN,NaN,NaN,NaN,None,None,None,00003,None,None,None,None,None,NaN,None,None,3.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
31,License #: ME0003,NaN,NaN,NaN,NaN,None,None,None,None,None,ME0003,None,None,None,NaN,None,None,3.0
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
33,Complaint # AA0000003,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,AA0000003,None,NaN,None,None,3.0

#### Next, add a place holder value for all NaN. This data set does not have any instances of '@', so that it what we will use.

In [62]:
 df.replace(np.NaN,'@',inplace=True)

In [63]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,record number
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,@,1/1/1901,@,@,@,@,@,@,@,@,@,Last_name_1,First_name_1,,1.0
1,City: City_1,@,@,@,@,City_1,@,City_1,@,City_1,@,City_1,@,@,@,@,@,1.0
2,County: OUT OF STATE,String of text 1,@,String of text 1,@,@,OUT OF STATE,@,@,@,@,@,@,@,@,@,@,1.0
3,Zip Code: 00001,@,@,@,@,@,@,@,00001,@,@,@,@,@,@,@,@,1.0
4,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,1.0
5,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,1.0
6,License #: AA000000,@,@,@,@,@,@,@,@,@,AA000000,@,@,@,@,@,@,1.0
7,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,1.0
8,Complaint # AA0000000,@,@,@,@,@,@,@,@,@,@,@,AA0000000,@,@,@,@,1.0
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,@,2/2/1901,@,@,@,@,@,@,@,@,"Company_Name_1, INC",@,@,@,2.0
10,City: City_2,@,@,@,@,City_2,@,City_2,@,City_2,@,City_2,@,@,@,@,@,2.0
11,County: County_2,String of text 2,@,String of text 2,@,@,County_2,@,@,@,@,@,@,@,@,@,@,2.0
12,Zip Code: 00002,@,@,@,@,@,@,@,00002,@,@,@,@,@,@,@,@,2.0
13,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,2.0
14,Company: Company_Name_1 City LIC AA0001,@,@,@,@,@,@,@,@,@,@,@,@,Company_Name_1 City LIC AA0001,@,@,@,2.0
15,City: City_2,@,@,@,@,City_2,@,City_2,@,City_2,@,City_2,@,@,@,@,@,2.0
16,County: County_2,@,@,@,@,@,County_2,@,@,@,@,@,@,@,@,@,@,2.0
17,Zip Code: 00002,@,@,@,@,@,@,@,00002,@,@,@,@,@,@,@,@,2.0
18,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,2.0
19,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,2.0
20,License: Not Licensed,@,@,@,@,@,@,@,@,@,Not Licensed,@,@,@,@,@,@,2.0
21,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,2.0
22,Complaint # AA0000001,@,@,@,@,@,@,@,@,@,@,@,AA0000001,@,@,@,@,2.0
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,@,3/3/1919,@,@,@,@,@,@,@,@,@,Last_Name_2,First_Name_2,@,3.0
24,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,3.0
25,Company: Company_Name_2,String of text 3,@,String of text 3,@,@,@,@,@,@,@,@,@,Company_Name_2,@,@,@,3.0
26,City: city_3,@,@,@,@,city_3,@,city_3,@,city_3,@,city_3,@,@,@,@,@,3.0
27,County: County_3,@,@,@,@,@,County_3,@,@,@,@,@,@,@,@,@,@,3.0
28,Zip Code: 00003,@,@,@,@,@,@,@,00003,@,@,@,@,@,@,@,@,3.0
29,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,3.0
30,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,3.0
31,License #: ME0003,@,@,@,@,@,@,@,@,@,ME0003,@,@,@,@,@,@,3.0
32,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,@,3.0
33,Complaint # AA0000003,@,@,@,@,@,@,@,@,@,@,@,AA0000003,@,@,@,@,3.0

##### once place holders are there, call groupby

In [64]:
df = df.groupby('record number', as_index=False).first()

In [65]:
df

,record number,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17
0,1.0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,@,1/1/1901,@,@,@,@,@,@,@,@,@,Last_name_1,First_name_1,
1,2.0,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,@,2/2/1901,@,@,@,@,@,@,@,@,"Company_Name_1, INC",@,@,@
2,3.0,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,@,3/3/1919,@,@,@,@,@,@,@,@,@,Last_Name_2,First_Name_2,@

This flattened the records into one row, based on their 'record number'. The result was only one record per row, with each column containing a separate variable for the record. Sucess! 
 
With the full dataset, there were rows with just place holders at the bottom of the df. Those were dropped, but I looked closely though, in case there is any data mixed in there, and suggest anyone do the same.
 
Then, I went back and compared the new df to the original, to be sure that no data was corrupted.
 
The place holders were replaced with empty strings, but of course the options are open there.

In [66]:
 df.replace('@','',inplace=True)

In [67]:
df

,record number,0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17
0,1.0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1,,1/1/1901,,,,,,,,,,Last_name_1,First_name_1,
1,2.0,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2,,2/2/1901,,,,,,,,,"Company_Name_1, INC",,,
2,3.0,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3,,3/3/1919,,,,,,,,,,Last_Name_2,First_Name_2,

Drop any empty df you have left, and name your columns and reorder appropriately. <br/>
record number is now redundant, so drop it or set as index if you prefer that numbering.

In [70]:
df.to_excel('/your_pathname_here/Flattened_Sample_Dataset.xlsx', index = False)

export to computer as new xlsx file